@media screen and (max-width: 1180px){
    .container{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 1150px){
    .nav_list{
        gap: 12px;
    }
    .nav_list li a {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1050px){
    .logo{
        width: 100px;
    }
    .nav_list li a {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 992px){
    .logo{
        width: 120px;
    }
   nav{
    
   }
   
    .nav_list{
        position: fixed;
        flex-direction: column;
        left: 0;
        top: 0px !important;
        background-color: var(--white);
        /* height: 100vh; */
        gap: 10px;
        z-index: 99 !important;
        width: 300px;
        overflow: auto !important;
        
    }
    .nav_list li a{
        color: var(--black);
       
    }
    .nav_list li{
        /* background-color: lime; */
        padding: 0px !important;
        height: auto;
    }
}